/*importing Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:"Poppins",sans-serif;

}
:root{
    --white-color:#fff;
    --dark-color: #252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;


    --font-size-s:.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;



    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;


    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;


    --site-max-width:1300px;







}
/*whole page styling*/
html{
    scroll-behavior:smooth;
    scroll-padding-top: 120px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor:pointer;
    border:none;
    background: none;
}
img{
    width: 100%;
}

.section-content{
    margin:0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);


}
.section-title{
    padding:60px 0 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
    

}
.section-title::after{
    content: "";
    width: 80px;
    height:5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}


/*Navbar Styling*/
header{
    background-color: var(--primary-color);
    position:fixed;
    width: 100%;
    z-index: 5;

}
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px

}
.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);


}
.navbar .nav-menu{
    display:flex;
    gap:10px;
    

}
.navbar .nav-menu .nav-link{
    color:var(--white-color);
    font-size: var(--font-size-m);
    transition:.3s ease;
    padding: 10px 18px;
    border-radius: var(--border-radius-m);

}
.navbar .nav-menu .nav-link:hover{
    color:var(--primary-color);
    background:var(--secondary-color);

}
#menu-close-button, 
#menu-open-button {
    display: none;
}


/*hero styling*/
.hero-section{
    background:var(--primary-color);
    min-height: 100vh;

}
.hero-section .section-content{
    display: flex;
    align-items: center;
    color: var(--white-color);
    min-height: 100vh;
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver",sans-serif;


}
.hero-section .hero-details .subtitle{
    font-size: var(--font-size-xl);
    margin-top: 8px;
    font-weight: var(--font-weight-semibold);
    max-width: 70%;
    
    

}
.hero-section .hero-details .description{
    font-size: var(--font-size-m);
    margin:24px 0 40px;
    max-width: 70%;
}
.hero-section .hero-details .buttons{
    display: flex;
    gap:30px;
}
.hero-section .hero-details .button{
    padding: 10px 26px;
    border:2px solid transparent;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight:var(--font-weight-medium);
    transition: .3s ease;



}
.hero-section .hero-details .contact-us{
     color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;

}
.hero-section .hero-details .button:hover{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;


}
  
.hero-section .hero-details .contact-us:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
   

}



.hero-section .hero-image-wrapper{
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.hero-section .hero-image-wrapper .hero-image{
    width: 100%;
    max-width: 600px;
    animation: floatAndSpin 6s ease-in-out infinite;
    transform-style: preserve-3d ;
    will-change: transform ;

}
@keyframes floatAndSpin {
    0%{
        transform:translateY(0px) rotateY(0deg);
        filter: drop-shadow(0px 15px 15px rgba(0,0,0,0.4));

    }
    50%{
        transform: translateY(-30px) rotateY(-10deg);
        filter:drop-shadow(0px 40px 20px rgba(0,0,0,0.2));
    }
    100%{
        transform: translateY(0px) rotateY(0deg);
        filter:drop-shadow(0px 15px 15px rgba(0,0,0,0.4));
    }
    
}

/*About Section*/
.about-section{
    padding: 120px 0;
    
    background: var(--light-pink-color);

}
.about-section .section-content{
    display:flex;
    align-items: center;
    gap:50px;
    justify-content: space-between;

}
.about-section .about-image-wrapper{
    height: 400px;
    overflow: hidden;
    border-radius: var(--border-radius-circle);
}
.about-section .about-image-wrapper .about-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    transition: .5s ease-in-out;
    

    
    


}

.about-section .about-image-wrapper .about-img:hover{
    transform: scale(1.5);
    }

.about-section .about-details .section-title{
    padding:0;

}
.about-section .about-details{
    max-width: 50%;
}

.about-section .about-details .text{
    line-height: 30px;
    margin:50px 0 30px;
    text-align:center;
    font-size: var(--font-size-m);

}
.about-section  .social-link-list {
    display: flex;
    gap:25px;
    justify-content: center;
}
.about-section .social-link-list .social-link{
    color:var(--primary-color);
     font-size: var(--font-size-l);
     transition: .3s ease;
}
.about-section .social-link-list .social-link:hover{
    color:var(--secondary-color);
    transform: scale(1.2);
    
}

/*menu-section*/
.menu-section{
    background:  var(--dark-color);
    color: var(--white-color);
    padding: 50px 0 100px;
}


.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap:110px;
    align-items: center;
    justify-content: space-between;
}
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% /3 - 110px);
    
}
.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    animation: float 8s ease-in-out infinite;
    transform-style: preserve-3d ;
    will-change: transform,scale ;
    cursor: pointer;
    transition: scale 1s ease-in-out;
    
    
    
}
.menu-section .menu-list .menu-item .menu-image:hover{
    
    scale: 1.1;


}
@keyframes float {
    0%{
        transform:translateY(0px) ;
        

    }
    50%{
        transform: translateY(-30px);
        
    }
    100%{
        transform: translateY(0px) ;
        
    }
    
}
.menu-section .menu-list .menu-item .name{
    font-size: var(--font-size-l);
    margin:12px 0;
    font-weight: var(--font-weight-semibold);
    color: #f3961c;
    
}
.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-s);
}

/*Testimonials Styling*/
.testimonials-section{
    padding:50px 0 100px;
    background:  var(--light-pink-color);


}
.testimonials-section .slider-wrapper{
    overflow:hidden;
    margin:0 60px 50px;
}
.testimonials-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    
}
.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover ;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
    


}
.testimonials-section .testimonial  .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);

}
.testimonials-section .testimonial  .feedback{
    line-height: 25px;
    

}

.testimonials-section .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    opacity: 1;
    background: var(--secondary-color);
    transition:  .3s ease-in-out;
}
.testimonials-section .swiper-pagination-bullet:active{
    background:var(--primary-color);
}
.testimonials-section .swiper-button-next{
    margin-top:-50px;
    color:var(--secondary-color);
    opacity: 1;
    transition: color .3s ease-in-out;
    

}
.testimonials-section .swiper-button-next:hover{
    color: var(--primary-color);
    
    

}
.testimonials-section .swiper-button-prev{
    margin-top:-50px;
    color:var(--secondary-color);
    opacity:1;
    transition: color .3s ease-in-out;
}
.testimonials-section .swiper-button-prev:hover{
    color: var(--primary-color);
    
    

}

/*gallery styling*/

.gallery-section{
    padding: 50px 0 100px
}
.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap:32px;
    
}

.gallery-section .gallery-list .gallery-item{
    border-radius: var(--border-radius-s);
    overflow: hidden;

    width: calc(100% / 3 - 32px);
}


.gallery-section .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    
    cursor: zoom-in;
   
    transition: .3s ease ;

    
}
.gallery-section .gallery-list .gallery-item:hover .gallery-image{
    transform:scale(1.5);

}



/*responsive view for 1024px*/
@media screen and (max-width:1024px){
    .menu-section .menu-list{
        gap:26px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 3 - 60px);
    }
    .gallery-section .gallery-list .gallery-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% /3 - 32px);
}


}

/*Responsive view for 900px */
@media screen and (max-width:900px) {
    :root{
    --font-size-m:1rem;
    --font-size-l:1.3rem;
    --font-size-xl:1.5rem;
    --font-size-xxl:1.8rem;

    }
    body.show-mobile-menu header::before{
        content:"";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(7px);
        background: rgba(0,0,0,0.2);
    }
    #menu-close-button, 
    #menu-open-button {
        display: block;
        font-size: var(--font-size-l);
    }
    .navbar #menu-close-button{
        position:absolute;
        right:30px;
        top:30px;
    }
    .navbar #menu-open-button{
        color: var(--white-color);

    }
    .navbar .nav-menu{
        display: block;
        position:fixed;
        left: -300px;
        top:0;
        width: 300px;
        height: 100%;
        background: var(--white-color);
        padding-top: 100px;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition:left 0.2s ease;
    }
    body.show-mobile-menu .navbar .nav-menu{
        left:0;
    }
    .navbar .nav-menu .nav-link{
        color:dark var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size:  var(--font-size-l);


    }
    .hero-section .section-content {
        gap:50px;
        text-align: center;
        padding :30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-section .hero-details :is(.subtitle , .description), .about-section .about-details{
        max-width: 100%;
        
        

    }
    .hero-section .hero-details .buttons{
        justify-content: center;
    }
     .hero-section .hero-image-wrapper{
        max-width:270px;
        margin-right:0;

     }
     .about-section{
        max-height: 600px;
     }
    
     .about-section .section-content{
        gap:70px;
        flex-direction: column-reverse;
     }
     .about-section .about-image-wrapper .about-img{
        display: none;
     }
      .menu-section .menu-list{
        gap:30px;
    }
    .menu-section .menu-list .menu-item{
        width: calc(100% / 2 - 30px);
    }
     .menu-section .menu-list .menu-item .menu-image{
        max-width: 200px;
     }
        .gallery-section .gallery-list .gallery-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% /2 - 32px);
}

 }
/*responsive for 600px*/
 @media screen and (max-width:600px){
     .menu-section .menu-list{
        gap:30px;
    }
    .menu-section .menu-list .menu-item{
        width: 100%;

 }
 .testimonials-section .swiper-button-prev{
    display: none;

 }
 .testimonials-section .swiper-button-next{
    display: none;
 }
 .testimonials-section .slider-wrapper{
    margin: 0 0 30px;
 }
         .gallery-section .gallery-list .gallery-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% /1 );
}

 
}



